{% extends 'base.html' %}

{% block title %}Patinhas - Gestão Interna de ONGs de Proteção Animal{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">
    <span class="title-icon">🐶</span>Bem-vinda(o) ao Patinhas!
  </h1>
  <p class="lead">
    Seu painel completo para gerenciar registros e atividades da sua ONG de proteção animal.
  </p>
  <p class="lead">
    Aqui você acompanha animais, adoções, doações, denúncias e campanhas de forma simples e organizada.
  </p>
  <p class="lead">
    Facilite o cuidado e a proteção dos nossos amigos de quatro patas!
  </p>
</div>
{% endblock %}
